{% extends "analytics/_layouts/utils" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'metadataGA4' %}

{% set content %}

    <h2>{{ "Search"|t('analytics') }}</h2>

    <form action="" method="post">
        {{ forms.textField({
            first: true,
            label: "Google Analytics 4 Property"|t('analytics'),
            instructions: "The Google Analytics 4 property in a “properties/000000000” format."|t('analytics'),
            placeholder: "properties/000000000"|t('analytics'),
            name: 'property',
            value: (property is defined ? property),
        }) }}

        {{ csrfInput() }}

        <div class="buttons">
            <input type="submit" name="pull" class="btn submit" value="Show Dimensions & Metrics" />
            <input type="submit" name="import" class="btn submit" value="Import & Write Dimensions & Metrics" />
        </div>
    </form>

    <form method="post">


    </form>

    {% if simpleMetadata is defined %}
        <hr>

        <h2>Property</h2>

        {{ dump(simpleMetadata) }}
    {% endif %}


    {% if metadata is defined %}
        {% set dimensions = metadata.dimensions %}
        {% set metrics = metadata.metrics %}
        <hr>

        <ul>
            <li>
                <a href="#dimensions">Dimensions ({{ dimensions|length }})</a>
            </li>
            <li>
                <a href="#metrics">Metrics ({{ metrics|length }})</a>
            </li>
        </ul>

        <hr>

        <a id="dimensions"></a>
        <h2>Dimensions ({{ dimensions|length }})</h2>

        {% for dimension in dimensions %}
            <hr>

            {{ dump(dimension) }}
        {% endfor %}

        <hr>

        <a id="metrics"></a>
        <h2>Metrics ({{ metrics|length }})</h2>

        {% for metric in metrics %}
            <hr>

            {{ dump(metric) }}
        {% endfor %}
    {% endif %}
{% endset %}