{% import "_includes/forms" as forms %}

{% includeCssResource 'analytics/css/disableSave.css' %}

{% if craft.oauth is not defined %}

	<h2 class="first">OAuth Not Installed</h2>


	{% set oauth = craft.plugins.getPlugin('oauth', false) %}

	{% if oauth %}
		{% if not oauth.isInstalled %}
			<p>OAuth plugin is present but not installed. Please install &amp; enable it.</p>
		{% elseif not oauth.isEnabled %}
			<p>OAuth is installed but is disabled. Please enable it.</p>
		{% else %}
			OAuth READY
		{% endif %}

		<hr />

		<div class="buttons">
			<a class="btn" href="{{url('settings/plugins')}}">Manage plugins</a>
		</div>
	{% else %}
		<p>Twitter plugin requires OAuth plugin for Craft.</p>

		<hr />

		<div class="buttons">
			<a class="btn" target="_blank" href="https://dukt.net/craft/oauth/">Download OAuth plugin</a>
		</div>
	{% endif %}

{% else %}

	{% set provider = craft.oauth.getProvider('google', 'analytics.system') %}

	{% if not provider %}
		<h2 class="first">Google provider not configured</h2>
		<p>Please fill API client id &amp; secret for Twitter provider.</p>

		<hr />

		<div class="buttons">
			<a class="btn" href="{{url('oauth/settings/google')}}">Google OAuth settings</a>
		</div>
	{% else %}

		{% set token = craft.oauth.getSystemToken('google', 'analytics.system') %}

		{% if token %}
			{% if not token.getRealToken %}
				{% set token = false %}
			{% endif %}
		{% endif %}

		{% set account = false %}

		{% if token %}
			{% set account = craft.oauth.getAccount('google', 'analytics.system') %}
		{% endif %}

		{% if account %}

			<h2 class="first">Plugin Settings</h2>

            {{ forms.selectField({
                first: true,
                label: "Web Profile",
                instructions: "Select an Analytics web profile to associate with your Craft website"|t,
                options: craft.analytics.properties(),
                name: 'profileId',
                value: settings.profileId
            }) }}


			<div class="buttons">
				<input type="submit" class="btn submit force" value="Save">
			</div>

			<hr />

			<h2 class="first">Google Analytics Account</h2>

			<ul>
				<li><strong>UID : </strong> {{account.uid}}</li>
				<li><strong>Name : </strong> {{account.name}}</li>
			</ul>

			<div class="buttons">
				<a class="btn small" href="{{craft.oauth.disconnect('google', 'analytics.system')}}">Disconnect</a>
			</div>

		{% else %}

			<h2 class="first">Connect to Google</h2>

			<p>You need to connect Craft to a Google account in order to get started.</p>

			{% set scope = [
			    'https://www.googleapis.com/auth/userinfo.profile',
			    'https://www.googleapis.com/auth/userinfo.email',
			    'https://www.googleapis.com/auth/analytics'
			    ] %}

			<div class="buttons">
				<a class="btn submit" href="{{craft.oauth.connect('google', scope, 'analytics.system')}}">Connect to Google Analytics</a>
			</div>
		{% endif %}
	{% endif %}

{% endif %}