{% extends "_layouts/cp" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Settings"|t('analytics'), url: url('settings') },
    { label: "Plugins"|t('analytics'), url: url('settings/plugins') },
    { label: "Analytics"|t('analytics'), url: url('analytics/settings') },
    { label: "Sources"|t('analytics'), url: url('analytics/settings/sources') }
] %}

{% set content %}
    {{ craft.analytics.register('src/main.js') }}

    {{ csrfInput() }}

    <input type="hidden" name="action" value="analytics/settings/save-source">

    {{ redirectInput('analytics/settings/sources') }}

    {% if not isNewSource %}<input type="hidden" name="sourceId" value="{{ source.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name",
        name: 'name',
        value: (source is defined ? source.name : null),
        errors: source.getErrors('name'),
        required: true,
    }) }}

    <input
            type="hidden"
            id="accountExplorerType"
            name="accountExplorer[type]"
            value="{{ source.type }}"
    >
    <input
            type="hidden"
            id="accountExplorerAccount"
            name="accountExplorer[account]"
            value="{{ source.gaAccountId }}"
    >
    <input
            type="hidden"
            id="accountExplorerProperty"
            name="accountExplorer[property]"
            value="{{ source.gaPropertyId }}"
    >
    <input
            type="hidden"
            id="accountExplorerView"
            name="accountExplorer[view]"
            value="{{ source.gaViewId }}"
    >
    <input
            type="hidden"
            id="accountExplorerCurrency"
            name="accountExplorer[currency]"
            value="{{ source.gaCurrency }}"
    >

    <div
            id="analytics-settings"
    ></div>
{% endset %}
