{% extends "analytics/settings/_layout" %}

{% set selectedNavItem = 'sources' %}

{% set content %}

    {% if isConnected %}
        <p id="nosources"{% if sources|length %} class="hidden"{% endif %}>
            {{ "No sources exist yet."|t('analytics') }}
        </p>

        <table id="sources" class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th>{{ "Name"|t('analytics') }}</th>
                    <th>{{ "Source"|t('analytics') }}</th>
                    <th>{{ "Type"|t('analytics') }}</th>
                    <th>{{ "Property ID"|t('analytics') }}</th>
                    <th>{{ "View ID"|t('analytics') }}</th>
                    <td class="thin"></td>
                </tr>
            </thead>
            <tbody>

            {% for source in sources %}
                <tr data-id="{{ source.id }}" data-name="{{ source.name }}">
                    <td><a href="{{ url('analytics/settings/sources/'~source.id) }}">{{ source.name }}</a></td>
                    <td>
                        {% if source.gaViewId %}
                            <div class="light">
                                {{ source.gaAccountName }} →
                                {{ source.gaPropertyName }}
                            </div>
                            {{ source.gaViewName }}
                        {% else %}
                            <span class="light">—</span>
                        {% endif %}
                    </td>
                    <td>{{ source.type }}</td>
                    <td>
                        {% if source.gaPropertyId %}
                            <code>{{ source.gaPropertyId }}</code>
                        {% else %}
                            <span class="light">—</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if source.gaViewId %}
                            <code>{{ source.gaViewId }}</code>
                        {% else %}
                            <span class="light">—</span>
                        {% endif %}
                    </td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('analytics') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="buttons">
            <a href="{{ url('analytics/settings/sources/new') }}" class="btn submit add icon">{{ 'New source'|t('analytics') }}</a>
        </div>

        {% js %}
        new Craft.AdminTable({
            tableSelector: '#sources',
            noItemsSelector: '#nosources',
            sortable: false,
            deleteAction: 'analytics/settings/delete-source'
        });
        {% endjs %}
    {% elseif error is defined %}
        <p class="error">{{ error }}</p>
    {% else %}
        {% include 'analytics/_special/not-connected' %}
    {% endif %}

{% endset %}
