<div id="{{ id }}">
    {% import "_includes/forms" as forms %}


    {% set reportingViewOptions = [] %}
    {% for reportingView in reportingViews %}
        {% set reportingViewOptions = reportingViewOptions|merge([{ label: reportingView.name, value: reportingView.id }]) %}
    {% endfor %}

    {{ forms.selectField({
        label: "View"|t('analytics'),
        name: 'viewId',
        class: 'view',
        options: reportingViewOptions,
        value: settings.viewId
    }) }}

    {% set chartTypes = {
            area: "Area"|t('analytics'),
            counter: "Counter"|t('analytics'),
            pie: "Pie"|t('analytics'),
            table: "Table"|t('analytics'),
            geo: "Geo"|t('analytics'),
    } %}

    {% apply spaceless %}
        <div class="chart-picker">
            {{ forms.selectField({
                label: "Chart"|t('analytics'),
                class: 'chart-select',
                name: 'chart',
                options: chartTypes,
                value: settings.chart,
                toggle: true,
                targetPrefix: 'chart'
            }) }}

            <ul class="chart-types">
                {% for chartType, chartLabel in chartTypes %}
                    <li data-chart-type="{{ chartType }}"{{ settings.chart == chartType ? ' class="active"' }}></li>
                {% endfor %}
            </ul>
        </div>
    {% endapply %}

    {{ forms.selectField({
        label: "Period"|t('analytics'),
        name: 'period',
        class: 'period',
        options: {
            week: "Week"|t('analytics'),
            month: "Month"|t('analytics'),
            year: "Year"|t('analytics'),
        },
        value: settings.period
    }) }}

    <div class="chart-settings">
        {% include 'analytics/_components/widgets/Report/_googleAnalyticsSettings' %}
    </div>

</div>