{% extends "analytics/settings/_layout" %}

{% set selectedSubnavItem = 'sites' %}
{% set title = 'Sites'|t('analytics')%}

{% set content %}
    {% if isConnected %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Site"|t('analytics') }}</th>
                    <th>{{ "Base URL"|t('analytics') }}</th>
                    <th>{{ "Source"|t('analytics') }}</th>
                </tr>
            </thead>
            <tbody>

                {% for site in sites %}

                    {% set source = false %}

                    {% for siteSource in siteSources %}
                        {% if siteSource.siteId == site.id %}
                            {% if siteSource.source %}
                                {% set source = siteSource.source %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <tr>
                        <td><a href="{{ url('analytics/settings/sites/'~ site.id) }}">{{ site.name }}</a></td>
                        <td><code>{{ site.baseUrl }}</code></td>
                        <td>
                            {% if source %}
                                {{ source.name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% elseif error is defined %}
        <p class="error">{{ error }}</p>
    {% else %}
        {% include 'analytics/_special/not-connected' %}
    {% endif %}
{% endset %}
