{% extends "analytics/_layouts/tests" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'ga4Metadata' %}

{% set content %}
    <form action="" method="get">
        {{ forms.textField({
            first: true,
            label: "Google Analytics 4 Property"|t('analytics'),
            instructions: "The Google Analytics 4 property in a “properties/000000000” format."|t('analytics'),
            placeholder: "properties/000000000"|t('analytics'),
            name: 'property',
            value: (property is defined ? property),
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit" value="Get Property Metadata" />
        </div>
    </form>

    {% if error is defined %}
        {{ dump(error) }}
    {% endif %}

    {% if metadata is defined %}
        <hr>

        <h2>Metrics Categories</h2>

        <table class="table data fullwidth">
            <thead>
            <tr>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for category in metCategories %}
                <tr>
                    <td>{{ category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Metrics</h2>

        <table class="table data fullwidth">
            <thead>
            <tr>
                <th>UI Name</th>
                <th>API Name</th>
            </tr>
            </thead>
            <tbody>
                {% for metric in metrics %}
                    <tr>
                        <td>{{ metric.uiName }}</td>
                        <td><code>{{ metric.apiName }}: {{ metric.uiName }}</code></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Dimensions Categories</h2>

        <table class="table data fullwidth">
            <thead>
            <tr>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
                {% for category in dimCategories %}
                    <tr>
                        <td>{{ category }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Dimensions</h2>


        <table class="table data fullwidth">
            <thead>
            <tr>
                <th>UI Name</th>
                <th>API Name</th>
            </tr>
            </thead>
            <tbody>
            {% for dimension in dimensions %}
                <tr>
                    <td>{{ dimension.uiName }}</td>
                    <td><code>{{ dimension.apiName }}: {{ dimension.uiName }}</code></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endset %}